
@font-face {
    font-family: 'Nexa';
    src: url('../fonts/Nexa-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NexaW01';
    src: url('../fonts/NexaW01-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NexaW02';
    src: url('../fonts/NexaW01-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}




